div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Booktradr
    p.lead Trade your books!
    i.fa.fa-book.logo

.container.ad
  .row
    .col-sm-6
      i.fa.fa-exchange
      h2 Trade your books
      p Give your old books a new life
    .col-sm-6
      i.fa.fa-check-circle-o
      h2 Find new books
      p Get books from other people in your area
    // .col-sm-4
    //   i.fa.fa-exchange
    //   h2 Share your opinion
    //   p Let other people know your opinion by answering their polls.

footer.footer
  .container
    p
      | Build by J. Martínez
      = ' | '
      a(href='https://twitter.com/_jmartinez') @_jmartinez
      = ' | '
      a(href='https://github.com/jbmartinez/fcc-booktrade') GitHub