.card(ng-repeat="book in list")
  figure
    img(ng-src="{{ book.cover }}")
    figcaption {{ book.title }}
  button(ng-hide="book.added || hideAddBtn" ng-click="addBook({idx: $index})")
    = '+'
  button(ng-hide="hideDeleteBtn" ng-click="deleteBook({book: book})")
    = '-'