div(ng-include='"components/navbar/navbar.html"')

.col-md-12
  tabset(type='pills')
    tab(heading='My books')
      .col-md-12
        form(ng-submit="queryBook(bookTitle)" class="form-inline")
          .form-group
            input(type="text" class="form-control" placeholder="Search title" ng-model="bookTitle")
            button(type="submit" class="btn btn-primary") Add

        book-list.row(list="ownBooks", on-delete="deleteBook(book)")
        #search
          book-list.row(list="bookList", on-add="addBook(idx)")

    tab(heading='All books')
      .col-md-12
        book-list.row(list="allBooks", on-trade="addTrade(book)")
    tab(heading='My requests')