div(ng-include='"components/navbar/navbar.html"')

.col-md-12
  tabset
    tab(heading='My books')
      .main.row
        .header.col-md-12
          h2 Add more books
          form(ng-submit="queryBook(bookTitle)" class="form-inline")
            .input-group
              input(type="text" class="form-control" placeholder="Search title" ng-model="bookTitle")
              span.input-group-btn
                button(type="submit" class="btn btn-primary") search

        book-list.row(list="ownBooks", on-delete="deleteBook(book)")
        #search.col-md-12(ng-show="searching")
          .row
            .col-md-9
              h3 Select some books
              button.btn.btn-primary(ng-click="hidePanel()") Done!
          book-list.row(list="bookList", on-add="addBook(idx)")

    tab(heading='All books' ng-click="fetchBooks()")
      .col-md-12
        book-list.row(list="allBooks", on-trade="addTrade(book)", owner="userId")
    tab(heading='My requests')
      .col-md-12
        ul.req-list
          li(ng-repeat="req in trades")
            i.fa.fa-share(ng-show="req.fromId === userId") 
            i.fa.fa-reply(ng-show="req.ownerId === userId") 
            | {{ req.title }} 
            a(href="#" ng-click="cancelRequest(req)")
              small [cancel] 
            a(href="#" ng-show="req.ownerId === userId" ng-click="approveRequest(req)")
              small [approve]